.list-controls {
  .wrapper();
  padding-top: 21px;
  padding-bottom: 25px;

  .btn {
    font-size: 1em;
  }

  .category-breadcrumb {
    margin: 0;
    .has-drop.box {
      position: relative;
      margin-right: 20px;
      border: 1px solid #ddd;
      border-radius: @border-radius;
      background-color: @btn-default-bg;

      &:hover {
        color: @brand-primary;
        background-color: @btn-default-bg;
        border-color: @brand-primary;
      }

      .badge-category {
        padding: 6px 0 6px 15px !important;
        text-transform: capitalize;
        border-radius: @border-radius 0 0 @border-radius;
        font-size: 1em;
        &.home {
          background: #fff !important;
          + .category-dropdown-button {
            background: #fff !important;
          }
        }

        .fa {
          font-weight: 700;
        }
      }

      .category-dropdown-button {
        padding: 6px 12px 6px 4px !important;
        border-radius: 0 @border-radius @border-radius 0;
      }
    }

    // hack to use different font-awesome arrow
    .fa-caret-right {
      &::before {
        content: "\f106";
      }
    }

    .fa-caret-down {
      &::before {
        content: "\f107";
      }
    }
  }

  .nav-pills {
    margin-bottom: 0;

    a {
      padding: 6px 15px;
      color: @normal-text-color;
      border-radius: @border-radius;
      font-size: 1em;
      &:not(.active):hover {
        background-color: @hover-blue-background !important;
        color: @active-text-color;
      }
    }

    .active {
      a {
        background-color: @btn-primary-bg;
        color: @btn-primary-color;
      }
    }
  }

  #create-topic {
    .fa {
      display: none;
    }
  }

  .open > .dropdown-menu {
    margin-top: 18px;
    border-radius: 6px;
    padding-left: 6px;
    box-shadow: 0 2px 4px 0 rgba(52, 52, 52, 0.25);

    li > a:hover {
      color: @active-text-color;
      background-color: rgba(52, 52, 52, 0.05);
    }
  }

  .category-dropdown-menu {
    left: 0;
    margin-top: 6px;
    border-radius: 6px;
    padding: 6px;
    box-shadow: 0 2px 4px 0 rgba(52, 52, 52, 0.25);
    .cat {
      line-height: 0;
      border-radius: @border-radius;
      a.badge-category.home {
        padding-left: 10px!important;
      }
    }
  }
}
