@main-font: 'Open Sans', Helvetica, Arial, sans-serif;
@header-font: Nexa, 'Nexa Bold', Helvetica, Arial, sans-serif;
@subheader-font: Nexa, 'Nexa Light', Helvetica, Arial, sans-serif;
@ui-font: 'Open Sans', Helvetica, Arial, sans-serif;

@normal-text-color: #011627;
@link-text-color: #26c3eb;
@active-text-color: #6da9ce;

@hover-blue-background: rgba(51, 121, 182, 0.1);

@green: #77C14B;

@wrapper-width: 1110px;

@border-radius: 0.5em;
@border-radius-small: 0.313em;
